//- This is used to put content into the base.pug template
extends base.pug
block scripts 
    script(src="/static/index.js") 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
block style 
    style 
        include ../static/style.css
block content    
    <nav id="navbar">
        <div class="image"><img src="../static/logo.png" alt="Our logo"></div>
        <div class="cont">
            <ul>
                <!-- <li><a href="#Heading" class="items">Home</a></li> -->
                <div class="Company">
                    <button id="home">Home</button>
                    <div class="dropdown-content">
                        <a href="">Web Player</a>
                        <a href="">Free Mobile App</a>
                        <a href="">Premium</a>
                    </div>
                </div>
                <!-- <li><a href="#button" class="items">Company</a></li> -->
                <div class="Company">
                    <button id="company">Company</button>
                    <div class="dropdown-content">
                        <a href="#">About</a>
                        <a href="#">Jobs</a>
                        <a href="#">For the Record</a>
                    </div>
                </div>
                <!-- <li><a href="#" class="items">Communities</a></li> -->
                <div class="Company">
                    <button id="communities">Communities</button>
                    <div class="dropdown-content">
                        <a href="#">For Artists</a>
                        <a href="#">Developers</a>
                        <a href="#">Advertising</a>
                        <a href="#">Investors</a>
                        <a href="#">Vendors</a>
                    </div>
                </div>
                <li><a href="contact" class="items" id="contacts">Contact Us</a></li>
                <li><a href="#" id="sign-in">Login In</a></li>
            </ul>
        </div>
        <div class="icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
    </nav>
    <section class="home">
        <h3 id="Heading">Welcome to Spotify</h3>
        <p>
            | Millions of songs and podcasts.No credit card needed.
        </p>
        <button id="button"> <a href="#sign-up-page">Start Listening</a></button>
    </section>
    <section class="services">
        <div class="card1">
            <h3 id="first"><a href="#" id="one">Albums</a></h3>
        </div>
        <div class="card2">
            <h3 id="second"><a href="#" id="two">New Releases</a></h3>
        </div>
        <div class="card3">
            <h3 id="third">
                <a href="#" id="three">Podcasts</a>
            </h3>
        </div>
    </section>
    <section>
        <div class="bgm">

            <div class="clients">
                <h3>Prominent Partners</h3>
            </div>
            <div class="clientsection">
                <div id="client-1">
                    <img src="../static/client-1.png">
                </div>
                <div id="client-2">
                    <img src="../static/client-2.png">
                </div>
                <div id="client-3">
                    <img src="../static/client-3.png">
                </div>
                <div id="client-4">
                    <img src="../static/client-4.png">
                </div>
                <div id="client-5">
                    <img src="../static/client-5.png">
                </div>
                <div id="client-6">
                    <img src="../static/client-6.png">
                </div>
            </div>
        </div>
    </section>
    <section id="img">
        <div class="heading"> Sign Up </div>
        <div class="signup" id="sign-up-page">
            <form action="/signup" , method="post">
                <div class="form">
                    <label for="name">Name:</label>
                    | <input type="text" name="name" id="name" | placeholder="Enter your name">
                </div>
                <div class="form">
                    <label for="email">Email:</label>
                    | <input type="text" name="email" id="email" | placeholder="Enter your mail-address">
                </div>
                <div class="form">
                    <label for="phone no">Phone number:</label>
                    | <input type="text" name="phoneno" id="phone no" | placeholder="Enter your phone-number">
                </div>
                <div class="form">
                    <label for="password">Password:</label>
                    | <input type="password" name="password" id="password" | placeholder="Enter your password">
                </div>
                <div class="form">
                    <button>Sign Up</button>
                </div>
            </form>
        </div>
    </section>